<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <% #display cart items if cart has items %>
  <% if enhanced_cart[0] %>
    <%= render 'cart_items' %>
  <% #display empty cart message if cart is empty%>
  <% else %>
    <%= render 'empty' %>
  <% end %>
</section>
