<section class="admin-categories-index">
  <header class="page-header">
    <h1>Admin &raquo; All Categories</h1>
  </header>

  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
    <% @categories.each do |c| %>
      <h2 class="category"><%= c.name %></h2>
    <% end %>
  </div>
</section>