main section.categories-index{

  .category{
    max-width: 260px;
    // so that footer within can be positioned absolutely
    position:  relative;

    border:        1px solid #ccc;
    border-radius: 5px;
    padding:       15px;
    padding-bottom: 80px;
    margin-top:    20px;

  }

}