<h3>Reviews</h3>

<% @reviews.each do |review| %>
  <dl class="dl-horizontal">
    <% if review.rating %>
      <dt>Rating</dt>
      <dd><%= review.rating %></dd>
    <% end %>
    <% if review.rating %>
      <dt>Description</dt>
      <dd><%= review.description %></dd>
    <% end %>
  </dl>
  <% if review.user_id === session[:user_id] %>
    <%= button_to "delete", {controller: :reviews,
      action: 'destroy', id: review.id, product_id: review.product_id
      }, { :method => :delete, class: "btn btn-danger"} %>
  <% end %>
  <hr>
<% end %>